html, body {
  padding: 0;
  margin: 0;
  font-family: 'Press Start 2P', cursive;
  overflow: hidden;
}

section {
  position: absolute;
  left: 5%;
}
section.footer {
  left: 0;
  bottom: 0;
  width: 100%;
}
section.title_info {
  top: 420px;
}
li {
  display: inline-block;
  margin-right: 25px;
}

h1 {
  font-size: 128px;
}

.canvas__container {
  display: block;
  width: 100%;
  height: 100%;
  padding: 0;
}